body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.menu_btn{
    position: fixed;
    width: 4%;
    z-index: 4;
}

.header_pic_list{
    display: none;
    /* transition: all 1s ease-in-out 1s; */
}


.nav_p{  
    padding: 0.5%;
    margin: 1% 0 1% 4%;
    font-size: 100%;
    font-weight: bold;
    color: rgb(212, 179, 28);
}

.header_pop_up{
    position: fixed;
    overflow: auto;
    width: 100%;
    max-height: 60vh;
    border-radius: 0 0 2% 2%;   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
    background: linear-gradient(135deg, rgb(17, 19, 18), rgb(45, 45, 44) 62%);  
}

.pictures{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figure{
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 80%;
    border-radius: 2%;
}

.nav_target{
    margin: 0 0 4% 0;
    font-size: 25px;
    text-align: center;
    color: rgb(212, 179, 28);
}

@media screen and (max-width: 1000px) {
    .header_pop_up{
        max-height: 100%;
    }
}

@media screen and (min-width: 2030px) {
    .nav_p{
        font-size: 300%;
    }
}

@media screen and (min-width: 1630px) {
    .nav_target{
        font-size: 50px;
    }
}

@media screen and (max-width: 544px) {
    .nav_target, .nav_p{
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .nav_target, .nav_p{
        font-size: 6px;
    }
}

.mainPic{
    display: block;
    margin: 5% auto;
    max-width: 85%;
    /* max-height: 95%; */
    min-width: 71%;
    /* min-height: 85%; */
}

.backgroundPic{
    display: block;
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    z-index: -1;
    -webkit-filter: blur(10px);
            filter: blur(10px);
}

*::-webkit-scrollbar {
    width: 1vw;
    background-color:#282829;
}
  
*::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #282829;
}
  
*::-webkit-scrollbar-thumb {

    height: 20%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(17, 19, 18), rgb(212, 179, 28));
}