body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("/site/pictures/background.jpg");
}

header{
    background-color: goldenrod;
    width: 100%;
    margin: 0;
}

header>h1{
    padding: 5px;
    font-size: 200%;
    text-align: center;
}

figure{
    width: 50%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
}

.pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pictures p{
    margin: 2% 0 4% 0;
    font-size: 25px;
    text-align: center;
}

@media screen and (min-width: 1630px) {
    .pictures p{
        font-size: 50px;
    }
}

@media screen and (max-width: 544px) {
    .pictures p{
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .pictures p{
        font-size: 6px;
    }
}

.mainPic{
    display: block;
    max-width:90%;
    max-height: 90%;
    min-width: 80%;
    min-height: 80%;
    margin: 5% auto;
}

.backgroundPic{
    display: block;
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    filter: blur(10px);
    z-index: -1;
}